<div class="table-container">
  <!-- Search Input for Filtering -->
  <div class="filter-container ">
    <input
      type="text"
      placeholder="Search by Name..."
      [(ngModel)]="searchTerm"
      (input)="filterBooks()"
      class="filter-input"
    />

      <div class="row">
        <div class="text-right col col-md-6 flex flex-end" >
          <div class="text-lg-right pt-2">
            <button
              abpPermission="BookStore.Books.Create"
              id="create"
              class="btn btn-primary"
              type="button"
              (click)="createBook()"
            >
              <i class="fa fa-plus mr-1"></i>
              <span>{{ '::NewBook' | abpLocalization }}</span>
            </button>
          </div>
        </div>
      </div>
  </div>

  <!-- Data Table -->
  <table class="table">
    <thead>
      <tr>
        <th (click)="sortData('name')">Name &#9650;&#9660;</th>
        <th (click)="sortData('authorName')">Author &#9650;&#9660;</th>
        <th (click)="sortData('type')">Type &#9650;&#9660;</th>
        <th (click)="sortData('publishDate')">Publish Date &#9650;&#9660;</th>
        <th (click)="sortData('price')">Price &#9650;&#9660;</th>
        <th>Actions</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of paginatedBooks">
        <td>{{ book.name }}</td>
        <td>{{ book.authorName }}</td>
        <td>{{ book.type }}</td>
        <td>{{ book.publishDate | date }}</td>
        <td>{{ book.price | currency }}</td>
        <td>
          <button class="btn-action" (click)="editBook(book.id)">Edit</button>
          <button class="btn-action" (click)="deleteBook(book.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination Controls -->
  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>
<abp-modal [(visible)]="isModalOpen">
  <ng-template #abpHeader>
    <h3>{{ (selectedBook.id ? '::Edit' : '::NewBook') | abpLocalization }}</h3>
  </ng-template>

  <ng-template #abpBody>
    <form id="book-form" [formGroup]="form" (ngSubmit)="save()">
      <div class="form-group">
        <label for="author-id">Author</label><span> * </span>
        <select class="form-control" id="author-id" formControlName="authorId">
          <option [ngValue]="null">Select author</option>
          <option [ngValue]="author.id" *ngFor="let author of authors$ | async">
            {{ author.name }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="book-name">Name</label><span> * </span>
        <input type="text" id="book-name" class="form-control" formControlName="name" autofocus />
      </div>

      <div class="form-group">
        <label for="book-price">Price</label><span> * </span>
        <input type="number" id="book-price" class="form-control" formControlName="price" />
      </div>

      <div class="form-group">
        <label for="book-type">Type</label><span> * </span>
        <select class="form-control" id="book-type" formControlName="type">
          <option [ngValue]="null">Select a book type</option>
          <option [ngValue]="type.value" *ngFor="let type of bookTypes">{{ type.key }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="book-publish-date">Publish date</label><span> * </span>
        <input
          id="book-publish-date"
          ngbDatepicker
          #datepicker="ngbDatepicker"
          formControlName="publishDate"
          class="form-control"
          (click)="datepicker.toggle()"
        />
      </div>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button form="book-form" class="btn btn-primary" [disabled]="form.invalid || form.pristine">
      <i class="fa fa-check mr-1"></i>
      {{ '::Save' | abpLocalization }}
    </button>
  </ng-template>
</abp-modal>
